In [1]:
import tweepy
import pandas as pd
from textblob import TextBlob
from reference import consumer_key, consumer_key_secret, access_token, access_token_secret

In [7]:
auth = tweepy.OAuthHandler(consumer_key, consumer_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [8]:
search_words = "gillette OR @Gillette OR to:Gillette -stadium -filter:retweets -from:Gillette -#sponsored"
date_since = "2018-06-16"

In [9]:
results = [] 

for tweet in tweepy.Cursor(api.search,
              q=search_words,
              lang="en",
              since=date_since).items(5):
    results.append(tweet.text)
    
results

['@michaelhsweet As you can see I’m card carrying bald guy who uses Gillette for scalp care. I would give anything fo… https://t.co/svqJfnjtwh',
 '@bmoreconnected LOL I mean in fairness, you didn’t. I’m just very used to everyone on the internet being a dirtbag.… https://t.co/0GokQxbROg',
 'If you’re in Gillette for this and want to grab a drink lmk https://t.co/eF3wd41UQR',
 '@JR_Gillette @goodinohio And after the Japanese had already been defeated, and after the Soviets had entered the wa… https://t.co/pnwdethuf2',
 'Look forward to seeing everyone in Gillette tomorrow for the @EnergyExpositi2 https://t.co/v0UYQOQQVr']

In [10]:
all_tweet_data = pd.DataFrame()

for tweet in results:
    analysis = TextBlob(tweet)
    if analysis.sentiment[0]>0:
       score = 1
    elif analysis.sentiment[0]<0:
       score = -1
    else:
       score = 0
    all_tweet_data = all_tweet_data.append({'Text': tweet, 'Score': score}, ignore_index=True)
    
all_tweet_data

   Score                                               Text
0    0.0  @michaelhsweet As you can see I’m card carryin...
1    1.0  @bmoreconnected LOL I mean in fairness, you di...
2    0.0  If you’re in Gillette for this and want to gra...
3    0.0  @JR_Gillette @goodinohio And after the Japanes...
4    0.0  Look forward to seeing everyone in Gillette to...

In [28]:
#remaining steps, switch to larger amounts of data
#sort for train and test
#export to seperate .csv files

test_data = pd.DataFrame()
train_data = pd.DataFrame()

counter = 1;

for index, i in all_tweet_data.iterrows():
    if counter % 2 == 0:
        train_data = train_data.append({'Text': i[1], 'Score': i[0]}, ignore_index=True)
    else:
        test_data = test_data.append({'Text': i[1], 'Score': i[0]}, ignore_index=True)
    counter += 1

In [29]:
#Training Data
train_data

   Score                                               Text
0    1.0  @bmoreconnected LOL I mean in fairness, you di...
1    0.0  @JR_Gillette @goodinohio And after the Japanes...

In [30]:
#Testing Data
test_data

   Score                                               Text
0    0.0  @michaelhsweet As you can see I’m card carryin...
1    0.0  If you’re in Gillette for this and want to gra...
2    0.0  Look forward to seeing everyone in Gillette to...