In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [13]:
# Read the csv file into a pandas DataFrame

train_df = pd.read_csv('Data/train_data.csv')
train_df.columns = ["drop","Score","Text"]
train_df.drop(["drop"], axis=1, inplace=True)
train_df.head()

   Score                                               Text
0    1.0  @evertonian89 @Catherw96287611 @schoudshady We...
1    0.0  @Fatbob2013 @zephstefkrysezi Don’t forget abou...
2    0.0  A lot of Italy today and a bit of Germany prec...
3    0.0  @Dove @ReverieAbsinthe You're a corporation pa...
4    1.0  Free Gillette Skinguard Razors for US Active M...

In [ ]:
# Skipping categorical get_dummies split

In [ ]:
# Assigning dimensions

X = train_df[["Text"]]
y = train_df[["Score"]]